<style>
   #chatArea{
      margin-top: 70px;
      margin-bottom: 10px;
      height: 450px;
      overflow-y: auto;
   }
   .chat_container{
      min-width: 100px;
      max-width: 350px;
      flex-grow: 4;
   }
   .message{
      overflow-wrap: break-word;
   }
</style>

<div class="chat_container">
   <div id="chatArea"></div>
   <form id="myForm">
      <div class="form-group">
         <textarea rows="2" id="txt" cols="5" class="form-control"></textarea>
      </div>
      <div class="form-group">
         <button type="submit" class="btn btn-success">Send</button>
      </div>
   </form>
   </div>
</div>

<script>

   function returnToMain(){
      location.href = "/";
   }

   const messages = document.getElementById('chatArea');

   function scrollToBottom() {
      messages.scrollTop = messages.scrollHeight;
   }

    jQuery(document).ready(function() {
         var socket = io.connect();
         var form = jQuery('#myForm');
         var txt = jQuery('#txt');
         var chatArea = jQuery('#chatArea');

         form.submit(function(e) {
            e.preventDefault();
            socket.emit('sending message', txt.val());
            txt.val('');
         });

         socket.on('new message', function(data){
            chatArea.append('<div class="well message">'+data.message+'</div>');
            scrollToBottom();
         });
      });
   </script>