<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
   .tables {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 3%;
      flex-grow: 2;
   }
   .table {
      display:table-cell; 
      border: solid 4px #000000;
   }
   .tables h1{
      text-align: center;
   }
   .row {
      display:table-row; 
      clear: both; 
   overflow: hidden;
   }
   .cell{
      display:table-cell; 
      border-right: 3px solid #000000; 
      border-bottom: 3px solid #000000; 
      width: 50px; height: 50px;
      vertical-align: middle;
      text-align: center;
   }
   .cell.inside{
      background-color: rgb(202, 202, 202);    
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;  
   }
   .cell.outside{
      background-color: rgb(0, 151, 0);
      font-weight: bold;
      font-size: xx-large;
      color: black;
   }
   .number{
      border-top: 4px solid #000000;
      border-bottom: 4px solid #000000;
   }
   .letter{
      border-left: 4px solid #000000;
      border-right: 4px solid #000000;
   } 
   #opponentTable .inside:hover{
      background-color: grey;
   }
   #user{
      margin-left: 5px;
   }
   #userTable .cell{ 
      width: 40px;
      height: 40px;
      font-size:x-large;
   }

   .Battleship1H{
      background-image: url('/battleship1H.png');
      background-size: contain;
   }
   .Battleship2H{
      background-image: url('/battleship2H.png');
      background-size: contain;
   }
   .Battleship3H{
      background-image: url('/battleship3H.png');
      background-size: contain;
   }
   .Battleship4H{
      background-image: url('/battleship4H.png');
      background-size: contain;
   }

   .Carrier1H{
      background-image: url('/carrier1H.png') ;
      background-size: contain; 
   }
   .Carrier2H{
      background-image: url('/carrier2H.png');
      background-size: contain;
   }
   .Carrier3H{
      background-image: url('/carrier3H.png');
      background-size: contain;
   }
   .Carrier4H{
      background-image: url('/carrier4H.png');
      background-size: contain;
   }
   .Carrier5H{
      background-image: url('/carrier5H.png');
      background-size: contain;
   }
   .Cruiser1H{
      background-image: url('/cruiser1H.png');
      background-size: contain;

   }
   .Cruiser2H{
      background-image: url('/cruiser2H.png');
      background-size: contain;

   }
   .Cruiser3H{
      background-image: url('/cruiser3H.png');
      background-size: contain;

   }
   .Destroyer1H{
      background-image: url('/destroyer1H.png');
      background-size: contain;
   }
   .Destroyer2H{
      background-image: url('/destroyer2H.png');
      background-size: contain;
   }
   .Submarine1H{
      background-image: url('/submarine1H.png');
      background-size: contain;
   }
   .Submarine2H{
      background-image: url('/submarine2H.png');
      background-size: contain;
   }
   .Submarine3H{
      background-image: url('/submarine3H.png');
      background-size: contain;
   }
   
   .Battleship1V{
      background-image: url('/battleship1V.png');
      background-size: contain;
   }
   .Battleship2V{
      background-image: url('/battleship2V.png');
      background-size: contain;
   }
   .Battleship3V{
      background-image: url('/battleship3V.png');
      background-size: contain;
   }
   .Battleship4V{
      background-image: url('/battleship4V.png');
      background-size: contain;
   }

   .Carrier1V{
      background-image: url('/carrier1V.png') ;
      background-size: contain; 
   }
   .Carrier2V{
      background-image: url('/carrier2V.png');
      background-size: contain;
   }
   .Carrier3V{
      background-image: url('/carrier3V.png');
      background-size: contain;
   }
   .Carrier4V{
      background-image: url('/carrier4V.png');
      background-size: contain;
   }
   .Carrier5V{
      background-image: url('/carrier5V.png');
      background-size: contain;
   }
   .Cruiser1V{
      background-image: url('/cruiser1V.png');
      background-size: contain;

   }
   .Cruiser2V{
      background-image: url('/cruiser2V.png');
      background-size: contain;

   }
   .Cruiser3V{
      background-image: url('/cruiser3V.png');
      background-size: contain;

   }
   .Destroyer1V{
      background-image: url('/destroyer1V.png');
      background-size: contain;
   }
   .Destroyer2V{
      background-image: url('/destroyer2V.png');
      background-size: contain;
   }
   .Submarine1V{
      background-image: url('/submarine1V.png');
      background-size: contain;
   }
   .Submarine2V{
      background-image: url('/submarine2V.png');
      background-size: contain;
   }
   .Submarine3V{
      background-image: url('/submarine3V.png');
      background-size: contain;
   }

   .miss{
      background-image: url('/miss.png');
      background-size: contain;
   }
   .hit{
      background-image: url('/hit.png');
      background-size: contain;
   }
   .btn-primary{
      width: 300px; 
      margin-right:auto; 
      margin-left: auto;
   }
</style>

<div class="tables">
   <div id="addShips" style="visibility: hidden;">
      <p>Insert the values in this order, <b>Letter(Y) Numer(X) Orientation('V'or 'H')</b></p>
      <p>Example: <b>A1V</b></p>
      <p style="color:red" id="addError"></p>
      <ul>
         <li>
            <label> Carrier (size: 5)</label>
            <input type="text" v-model = "newShips.Carrier" pattern="^([A-J]{1}[0-9]{1}[V|H]{1})$" required @change="addShips()">
         </li>
         <br>
         <li>   
            <label> Battleship (size: 4)</label>
            <input type="text" v-model = "newShips.Battleship" pattern="^([A-J]{1}[0-9]{1}[V|H]{1})$" required @change="addShips()">
         </li>
         <br>
         <li>
            <label> Cruiser (size: 3)</label>
            <input type="text" v-model = "newShips.Cruiser" pattern="^([A-J]{1}[0-9]{1}[V|H]{1})$" required @change="addShips()">
         </li>
         <br>
         <li>
            <label> Submarine (size: 3)</label>
            <input type="text" v-model = "newShips.Submarine" pattern="^([A-J]{1}[0-9]{1}[V|H]{1})$" required @change="addShips()">    
         </li>
         <br>
         <li>
            <label> Destroyer(size: 2)</label>
            <input type="text" v-model = "newShips.Destroyer" pattern="^([A-J]{1}[0-9]{1}[V|H]{1})$" required @change="addShips()">
         </li>
      </ul>
      <br>
      <br>
      <button v-on:click="verifyShips()">StartGame</button>
            
   </div>
   <div id ="opponent">
      <h1>opponent Board</h1>
      <div id = "opponentTable">
      </div>
   </div>
   <div id ="user">
      <h1>User Board</h1>
      <div id="userTable"></div>
   </div>
</div>