<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>BatlerShip Game</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>

<style>
   .page_container{
      margin: 10px;
   }
   .page_title{
      padding-left: 10px;
   }
   .tables_and_chat{
      display: flex;
      justify-content: space-evenly;
   }
</style>

<body>
   
   <div id="board">

   <div class="page_container">
      <h1 class="jumbotron page_title">
         BattleShip Game
      </h1>

      <div class="tables_and_chat">
         <%- include('partials/game_board') %>
         <%- include('partials/chat_area') %>
      </div>

         <button type="button" class="btn btn-primary btn-block" onclick=" returnToMain()">return to main page</button>
   </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="/vues.js"></script>
</html>