<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>BatlerShip Game</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
   <style>
      .cell {
         display:table-cell; 
         border-right: 1px solid #000000; 
         border-bottom: 1px solid #000000; 
         width: 30px; height: 30px;
         vertical-align: middle;
         text-align: center;
         background-color: green;
      }
      .cell.outside{
         background-color: orange;
      }
      .row {
         display:table-row; 
         clear: both; 
         overflow: hidden;
      }
      .table {
         display:table-cell; 
         border-left: 1px solid #000000;
         border-top: 1px solid #000000;
      }

   </style>

</head>


<body>
   
   <div id="board">

   <div class="container">
      <h1 class="jumbotron">
         BattleShip Game
      </h1>

      <div class="tables" style="padding-bottom: 35%;">
         <div style="float: left; width: 50%;" id ="userTable">
            <div class="table"></div>
         </div>
         <div style="float: right; " id ="opponentTable">
            <div class="table"></div>
         </div>
      </div>

      <div id="chatArea">
      </div>
      <form id="myForm">
         <div class="form-group">
            <textarea rows="5" id="txt" cols="5" class="form-control"></textarea>
         </div>
         <div class="form-group">
            <button type="submit" class="btn btn-success">Send</button>
         </div>
      </form>

      </div>
      <button type="button" class="btn btn-primary btn-lg btn-block" onclick=" returnToMain()">return to main page</button>
   </div>

   <script>
      var createGrid=function(x,y){
    	   var arrY = new Array(),
    		   arrX,
            container = $(".table");
    	   for(var iy= 0; iy<=y; iy++){
            arrX = new Array();
            var letter = ['&nbsp;', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'I', 'H', 'J', 'K'];
    		   for(var ix= 0; ix<=x; ix++){
                
               if(ix == 0){
                  arrX[ix]='<div class="cell outside">'+ letter[iy] +'</div>';
               }
               else if(ix != 0 && iy == 0){
                  arrX[ix]='<div class="cell outside">'+ (ix) +'</div>';
               }
               else{
                  arrX[ix]='<div class="cell" id=' + letter[(iy)] + (ix) + '>&nbsp;</div>';
               }
    			   
    		   }
    		   arrY[iy]='<div class="row">'+arrX.join("\r\n")+'</div>';
    	   }
    	   container.append(arrY.join("\r\n"));
      };
   // call function
    createGrid(10,10);

    function returnToMain(){
      location.href = "/";
    }

    jQuery(document).ready(function() {
         var socket = io.connect();
         var form = jQuery('#myForm');
         var txt = jQuery('#txt');
         var chatArea = jQuery('#chatArea');

         form.submit(function(e) {
            e.preventDefault();
            socket.emit('sending message', txt.val());
            txt.val('');
         });

         socket.on('new message', function(data){
            chatArea.append('<div class="well">'+data.message+'</div>');
         });
      });
   </script>
   
</body>
</html>