<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>BatlerShip Game</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

   
</head>

<body>
   <div id="board">
      <div class="container">
         <h1 class="jumbotron">
            <a href = / >BattleShip Game</a> - One Player - Continue
            <p align="right"> <%= sess.email %>  </p>
            
         </h1>

         
        <div class="panel panel-default">
        <div class="panel-heading">Game List</div>
        <div class="panel-body">
                <% games.forEach(function(item){ %>
                    <li><a href="/game=<%= item._id %>&&user=<%=sess._id%>"><%= item._id %></a></li>
                    
                <% }) %>
            
            </div>
        </div>
         
      </div>
   </div>
</body>

</html>