<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>BattleShip Game - Menu</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="jumbotron">
            BattleShip Game - Menu
         </h1>
         
            <div class="text-center">
                <button type="button" class="btn btn-primary btn-lg btn-block" onclick=" relocate_menu_Board1()">OnePlayer</button><br><br>
                <button type="button" class="btn btn-primary btn-lg btn-block" onclick=" relocate_menu_Board2()">TwoPlayer</button> <br><br>
                <button type="button" class="btn btn-primary btn-lg btn-block" onclick=" relocate_menu_Options()">Options</button><br><br>
            </div>
        
        

    </div>

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
   <script>
       function relocate_menu_Board1()
         {
            location.href = "/board";
         } 
       
      jQuery(document).ready(function() {
         var socket = io.connect();
         var form = jQuery('#myForm');
         var txt = jQuery('#txt');
         var chatArea = jQuery('#chatArea');

         form.submit(function(e) {
            e.preventDefault();
            socket.emit('sending message', txt.val());
            txt.val('');
         });

         socket.on('new message', function(data){
            chatArea.append('<div class="well">'+data.message+'</div>');
         });
      });
   </script>
</body>
</html>