<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>BattleShip Game</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>

<body>
   <div id="board">
      <div class="container">
         <h1 class="jumbotron">
            <a href = / >BattleShip Game</a> - Menu 
            <p align="right"> <%= sess.email %>  </p>
         </h1>
         <%- include('partials/menu_options') %>
      </div>
   </div>
</body>

</html>
