<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BattleShip Game</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="jumbotron">
      <a href = "/" >BattleShip Game</a> - Register
    </h1>
    <form id="user_form" method="POST" action="/register">
      <label for="exampleInputName">Name</label>
      <input type="name" class="form-control" id="exampleInputName" onchange="validate_input()" aria-describedby="emailHelp" placeholder="John Doe" name="user_name">
      <br>
      <label for="exampleInputEmail">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail" onchange="validate_input()" aria-describedby="emailHelp" placeholder="example@example.com" name="user_email">
      <small id="emailHelp" class="form-text text-muted">Not gonna be used for advertising</small>
      <br><br>
      <label for="exampleInputPassword">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword" onchange="validate_input()" placeholder="Strong password" name="user_password">
      <br>
      <button id="register_button" type="submit" class="btn btn-primary" disabled>Submit</button>
    </form>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

  <script>
      var alert_message = "<%=alert%>";
      console.log("alert: "+JSON.stringify(alert_message));
      if(alert_message!=""){
        alert(alert_message);
      }


      function validate_input(clicked = true){
        console.log("validate_input");
        var contents = [];
        var elements = [];
        var not_empty = [];
        var valid = []; 

        var name = exampleInputName.value;
        console.log("name: "+name);
        contents.push(name);
        elements.push(exampleInputName);

        var email = exampleInputEmail.value;
        contents.push(email);
        elements.push(exampleInputEmail);

        var password = exampleInputPassword.value;
        contents.push(password);
        elements.push(exampleInputPassword);

        removeMessages();

        //makes the validation of all the inputs
        valid.push(validate_name(name,exampleInputName));
        valid.push(validate_email(email,exampleInputEmail));
        valid.push(validate_password(password,exampleInputPassword));

        //this condition is just to allow to verify if there are empty fields, only if the use has filled the last field or clicked the submit button
        if((contents[contents.length-1] != '' || clicked == true) && valid.reduce(and)){
          for(var i = 0; i < contents.length; i++){
            not_empty.push(validate_empty(contents[i],elements[i]));
          }
        }

        //if everything is filled and validated it will remove the existing button and add a button inside the <form> to use the post method
        if(valid.reduce(and) && not_empty.reduce(and)){
          document.getElementById("register_button").disabled = false; 
        }else{
          document.getElementById("register_button").disabled = true; 
        }
      }

      function and(a,b){
        return a && b;
      }

      function validate_empty(content, element){
        if(content == ''){
          $(element).css("background", "#ffcccc");
          $(element).after("<p style=\"color:#ff5555\">* Please fill this field before submitting again</p>");
          return false;
        }else{
          return true;
        }
      }

      function validate_name(content, element){
        if(!content.match(/^([A-ZÀ-Ÿ][a-zà-ÿ]* *)*$/)){
          $(element).css("background","#ebdf5e");
          $(element).after("<p style=\"color:#c2b100\">* A name has one or more words that always start with an uppercase followed by lowercases letters</p>");
          return false;
        }else{
          return true;
        }
      }

      function validate_email(content, element){
        if(!content.match(/^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$/)){
          $(element).css("background","#ebdf5e");
          $(element).after("<p style=\"color:#c2b100\">* The email isn\'t valid</p>");
          return false;
        }else{
          return true;
        }
      }

      function validate_password(content, element){
        if(!content.match(/^[a-zA-Z0-9]{8,}$/) && content != ''){
          $(element).css("background","#ebdf5e");
          $(element).after("<p style=\"color:#c2b100\">* Please insert a password with at least 8 alphanumeric characters</p>");
          return false;
        }
        else{
          return true;
        }
      }

      function removeMessages(){
        $("#user_form").children().css("background-color","#FFFFFF");
        $("#register_button").css("background-color","#337ab7");
        $("#user_form").children().filter('p').remove();
      }
      
  </script>
</body>
</html>